@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Chronicle';
    src: url('/fonts/chronicle-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Chronicle1';
    src: url('/fonts/Chronicle-Display-Roman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
h1 {
    font-family: 'Chronicle', serif;
    font-size: 2rem;
}
p {
    font-family: 'Georgia', serif;
}

.alo{
    font-family: 'Chronicle', serif;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}


/* Global Scrollbar Styling */
body {
  /* Apply the styles to the entire body */
  scrollbar-width: thin;
  scrollbar-color: #61CE70 #f1f1f1;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #61CE70;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4CAF50;
}

